<!DOCTYPE html>
<html xml:lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<style type="text/css">
.border{
  border: solid;

}
.topnav{
  background-color:#;
  overflow: hidden;
}

.topnav a{
  float: left;
  color: #;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;

}

.topnav a:hover{
  background-color: #ddd;
  color: black;
}

.topnav a.active{
  background-color: #;
  color: black;
}
.topnav .rightnav{
  float: right;
  margin-right: 15px;
}

</style>

<title>FLOW UI</title>
</head>
<body>
<img src="RMR-Logo11-1.png" alt="" style="float: left; margin-left: 10px;"><br><br><br><br>
<div class="topnav border" >
  <a class="active" href="#">Request</a>
  <a class="#" href="#">Task</a>
  <a class="#" href="#">Designer</a>
  <a class="#" href="#">Admin</a>

  <em style="font-size: 25px; margin-top: 8px;" class="fa rightnav">&nbsp;&nbsp;&nbsp;&#xf2be;</em>
  <em style="font-size: 25px; margin-top: 8px;" class="fa rightnav">&nbsp;&nbsp;&nbsp;&#xf0f3;</em>
  <button class="btn btn-success rightnav" style=" margin-top: 6px;"> <em class="fa fa-plus"></em>Request</button>

</div>
<div class="topnav border">&nbsp;&nbsp;
 <em class="fa fa-home"></em> Directory
  <button class=" btn btn-secondary rightnav"><em class="fa fa-floppy-o"></em> Save</button>
</div>
<div class="row" >
<div class="col-xs-2 col-sm-2 col-md-2  container-fluid border">
<table class="table">
  <tbody>
  <tr><td>
    <em style="font-size: 30px;" class="fa">&#xf0b0;</em>&nbsp;&nbsp;<input type="text" name="search">
  </td></tr>
  <tr><td>
<img src="green-circle.png" alt="" style="width: 35px;">&nbsp;Start Event
</td></tr>
<tr><td>
<img src="yellow-circle.png" alt="" style="width: 35px;">&nbsp;Intermediate Event
</td></tr>
<tr><td>
<img src="red-circle.png" alt="" style="width: 35px;">&nbsp;End Event
</td></tr>
<tr><td>
 <em style="font-size: 30px;" class="fa">&#9634;</em>&nbsp;&nbsp;Task
</td></tr>
<tr><td>
 <em style="font-size: 30px;" class="fa">&#9671;</em>&nbsp;&nbsp;Gateway
</td></tr>
<tr><td>
<em style="font-size: 30px;" class="fa">&#9707;</em>&nbsp;&nbsp;Pool
</td></tr>
<tr><td>
<em style="font-size: 30px;" class="fa">&#xf031;</em>&nbsp;&nbsp;Text Annotation
</td></tr>
</tbody>
</table>
</div>

<div class="col-xs-7 col-sm-7 col-md-7 container-fluid border" style="height: 700px;">


  <em style="font-size:24px;background-color:#A6ACAF;" class="fa">&#xf0e2;&nbsp;&#xf01e;<span style="background-color: white;">&nbsp;&nbsp;</span>&nbsp;&#xf067;&nbsp;&#xf068;&nbsp;<font style="font-size:25px;">RESET</font>&nbsp;100%<span style="background-color: white;">&nbsp;&nbsp;</span>&nbsp;&#xf065;&nbsp;&nbsp;&#xf041;</em>
  <div class="horiznav">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"style="background-color: #00A7FB ;">
      <li class="nav-item active"style="background-color: #00A7FB ;">
        <a class="nav-link" href="#"style="background-color: #00A7FB ;"><em style="font-size:24px" class="fa">&#xf149;</em></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><em style="font-size:24px" class="fa">&#xf149;</em></a>
      </li>
      <li class="nav-item dropdown"style="background-color: #00A7FB ;">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="background-color: #00A7FB ;">
         <em style="font-size:24px" class="fa">&#xf013;</em>
        </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown"style="background-color: #00A7FB ;">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>

      </li>
      <li class="nav-item active"style="background-color: #00A7FB ;">
        <a class="nav-link" href="#"style="background-color: #00A7FB ;"><em style="font-size:24px" class="fa">&#xf10c;</em></a>
      </li>
      <li class="nav-item active"style="background-color: #00A7FB ;">
        <a class="nav-link" href="#"style="background-color: #00A7FB ;"><em style="font-size:24px" class="fa">&#xf014;</em></a>
      </li>

    </ul>

  </div>
</nav>

</div>
</div>
</div>
<div class="col-xs-3 col-sm-3 col-md-3 container-fluid border" >

  <div class="accordion md-accordion container-fluid " id="accordionEx left" role="tablist" aria-multiselectable="true" >

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header " role="tab" id="headingOne1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
        aria-controls="collapseOne1">
        <h5 class="mb-0" style="color: black;">
         <em class="fa fa-cog"></em> Configuration <em class="fa fa-angle-down rotate-icon"></em>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
      data-parent="#accordionEx">
      <div class="card-body">
        <div class="">
               <table class="table"style="width:100%;border:0px;">
               <tr><td><strong> Name</strong><br>
               <input type="text" name=""placeholder="New Task"><br>
               <font style="font-size: 12px; color: #0d93c2;">Enter the name of this element</font>
               </td></tr>
               <tr><td><strong> Screen for Input</strong><br>
               <select>
                        <option>Type here to search</option>
                       <option>2</option>
               </select><br>
               <font style="font-size: 12px; color: #0d93c2;">Select screen to display this Task</font>
               </td></tr>
               <tr><td><strong> Due In</strong><br>
               <input type="text" name=""placeholder="72 Hours"><br>
               <font style="font-size: 12px; color: #0d93c2;">Enter the hours untill this task is overdue</font>
               </td></tr>
               <tr><td>
               <input type="checkbox" name="">Display Next Assigned Task to Task Assignee<br>
              <font style="font-size: 12px; color: #0d93c2;">Directs Task assigned to the next assigned task</font>
               </td></tr>
                </table>
        </div>
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingTwo2">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo2"
        aria-expanded="false" aria-controls="collapseTwo2">
        <h5 class="mb-0" style="color: black;">
          <em class="fa fa-users"></em>&nbsp;Assignment Rules<em class="fa fa-angle-down rotate-icon"></em>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseTwo2" class="collapse" role="tabpanel" aria-labelledby="headingTwo2"
      data-parent="#accordionEx">
      <div class="card-body ">
        Assignment Rules
      </div>
    </div>

  </div>
  <!-- Accordion card -->

  <!-- Accordion card -->
  <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree3">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree3"
        aria-expanded="false" aria-controls="collapseThree3">
        <h5 class="mb-0" style="color: black;">
          <em class="fa fa-bell"></em>&nbsp;Notifications <em class="fa fa-angle-down rotate-icon"></em>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree3" class="collapse" role="tabpanel" aria-labelledby="headingThree3"
      data-parent="#accordionEx">
      <div class="card-body">

        Notifications
      </div>
    </div>

  </div>
  <!-- Accordion card -->
   <div class="card">

    <!-- Card header -->
    <div class="card-header" role="tab" id="headingThree4">
      <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree4"
        aria-expanded="false" aria-controls="collapseThree4">
        <h5 class="mb-0" style="color: black;">
          <em class="fa fa-cogs"></em>&nbsp;Advanced <em class="fa fa-angle-down rotate-icon"></em>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseThree4" class="collapse" role="tabpanel" aria-labelledby="headingThree4"
      data-parent="#accordionEx">
      <div class="card-body">
        Advanced

      </div>
    </div>

  </div>
  <!-- Accordion card -->


</div>
<!-- Accordion wrapper -->
</div>

</div>
</div>

</body>
</html>